html{
  background: #222;
}
div.slide{ 
  color: #fff; 
}
div.slide h1{ 
  color: #fff;
  text-shadow: 0px 0px 2px #ccc;
  border-bottom: 1px solid #444;
}
div.slide pre{ 
  background-color: #444;
  color: #ddd;
  border: none;
}
div.slide a{ 
  color: #8cf; 
}
div.toolbar{
  background: #333;
  color: #888;
}
div.toolbar a,
div.toolbar a:hover,
div.toolbar a:visited,
div.toolbar a:active,
div.toolbar a:link{ 
  color: #8cf; 
}
p code, li code{ background:#444; }
blockquote{ background:#444; border-left:.5em solid #777;  }
