div.slide{ 
  background-image: url(nix-hex.png);
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: 99% .2em;
  font-size:1.2em;
}

div.slide h1{ 
  font-size: 1.35em;
  margin: 0 0 .9em 0;
  text-align:center;
  padding :.5em;
}

div.slide li p{ margin:0; }

div.slide pre{ 
  padding: 0;
}

div.slide pre code{ 
  padding: .4em;
}

div.slide a{ 
  font-weight: bold;
  text-decoration: underline;
}

div.slide li ul li{ font-style: normal; font-size: 1em; }

div.slide pre{ border-radius:3px; border:none; font-weight:normal; line-height: 1.4em; }

code{ font-family:monospace; border-radius:.2em; padding:0.1em 0.3em; }

pre code{ padding:0; }

blockquote{ padding:.5em 1em; border-radius:.5em; }
